/* ...........footer start................ */
.foot-logo{
    text-decoration: none;
    font-size: 25px;
    color: #444444;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;

}
.foot-text{
    font-family: 'Roboto', sans-serif;
    color: var(--grey);
}
.foot-text p span{
    font-weight: 500;
}
.foot-text p{
    margin-bottom: 10px;
}
.foot-text h3{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
    
}
.foot-logo span{
    color: var(--blue);
    font-family: 'Roboto', sans-serif;
}
.footer-icon-list{
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding-top: 20px;
}
.footer-icon-list .ft-icon{
    background-color: var(--blue);
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 3px;
    position: relative;
}
.footer-icon-list .ft-icon .fa{
   color: var(--white);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.links-text h3{
    margin-bottom: 15px;

}
.serv-web li a{
    text-decoration: none;
    color: var(--grey);
}
.serv-web li{
    list-style-type: none;
    margin-bottom: 15px;
    position: relative;
    padding-left: 20px;
    
}
.serv-web li::before{
    content: "\f061";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font: normal normal normal 14px/1 FontAwesome;
    color: var(--blue);

}
.links-text h3{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
/* ...........footer end................ */